USE [master]
GO
/****** Object:  Database [WebBanMoHinh]    Script Date: 23/05/2026 4:05:03 CH ******/
CREATE DATABASE [WebBanMoHinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebBanMoHinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBanMoHinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebBanMoHinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebBanMoHinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebBanMoHinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebBanMoHinh]
GO
/****** Object:  Table [dbo].[BinhLuanDanhGia]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuanDanhGia](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[TenDangNhap] [varchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[SoSao] [int] NULL,
	[NgayBinhLuan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongSanPham]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongSanPham](
	[MaDong] [int] IDENTITY(1,1) NOT NULL,
	[TenDong] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThaiDonHang] [nvarchar](50) NULL,
	[DiaChiGiaoHang] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhSanPham]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSanPham](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[UrlAnh] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDauGia]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDauGia](
	[MaLuotBidding] [int] IDENTITY(1,1) NOT NULL,
	[MaPhien] [int] NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[SoTienDau] [decimal](18, 2) NOT NULL,
	[ThoiGianDau] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuotBidding] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](200) NOT NULL,
	[QuocGia] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienDauGia]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienDauGia](
	[MaPhien] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaKhoiDiem] [decimal](18, 2) NOT NULL,
	[GiaHienTai] [decimal](18, 2) NULL,
	[GiaMuaNgay] [decimal](18, 2) NULL,
	[BuocGiaMin] [decimal](18, 2) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[VersRow] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](500) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaGiam] [decimal](18, 2) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnhChinh] [nvarchar](500) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TiLe] [varchar](50) NULL,
	[KichThuoc] [varchar](100) NULL,
	[ChatLieu] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[MaNSX] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[DaXoa] [bit] NULL,
	[MaDong] [int] NULL,
	[IsHot] [bit] NULL,
	[LoaiHinhHienThi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/05/2026 4:05:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[Avatar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (5, 6, 8, 2, CAST(3450000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (8, 9, 6, 2, CAST(800000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSP], [SoLuong], [DonGia]) VALUES (10, 11, 1, 1, CAST(1200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DongSanPham] ON 

INSERT [dbo].[DongSanPham] ([MaDong], [TenDong], [MoTa]) VALUES (1, N'Gundam', NULL)
INSERT [dbo].[DongSanPham] ([MaDong], [TenDong], [MoTa]) VALUES (2, N'Dragon Ball', NULL)
INSERT [dbo].[DongSanPham] ([MaDong], [TenDong], [MoTa]) VALUES (3, N'One Piece', NULL)
SET IDENTITY_INSERT [dbo].[DongSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [TenDangNhap], [NgayDat], [TongTien], [PhuongThucThanhToan], [TrangThaiDonHang], [DiaChiGiaoHang], [GhiChu], [SoDienThoai]) VALUES (2, N'demo12', CAST(N'2026-05-16T18:50:06.813' AS DateTime), CAST(4700000.00 AS Decimal(18, 2)), N'COD', N'Chờ xác nhận', N'123 Đường Tô Hiến Thành, Quận 10, TP.HCM', N'Giao vào giờ hành chính, gọi trước khi giao', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [TenDangNhap], [NgayDat], [TongTien], [PhuongThucThanhToan], [TrangThaiDonHang], [DiaChiGiaoHang], [GhiChu], [SoDienThoai]) VALUES (3, N'namduy123', CAST(N'2026-05-20T01:36:11.973' AS DateTime), CAST(3400000.00 AS Decimal(18, 2)), N'COD', N'Chờ xác nhận', N'65 Đồng Tâm, Trung Chánh, Hóc Môn, TpHCM', NULL, NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [TenDangNhap], [NgayDat], [TongTien], [PhuongThucThanhToan], [TrangThaiDonHang], [DiaChiGiaoHang], [GhiChu], [SoDienThoai]) VALUES (4, N'vonam06062005', CAST(N'2026-05-20T01:37:10.573' AS DateTime), CAST(1500000.00 AS Decimal(18, 2)), N'Online', N'Chờ xác nhận', N'65 Đồng Tâm, Trung Chánh, Hóc Môn, TpHCM', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (1, N'Figure', NULL)
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (2, N'Metal Build', NULL)
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (3, N'Mô Hình Lắp Ráp', NULL)
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [QuocGia]) VALUES (1, N'Good Smile Company', N'Japan')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [QuocGia]) VALUES (2, N'Bandai Namco', N'Japan')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [QuocGia]) VALUES (5, N'Motor Nuclear', N'China')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [GiaGiam], [SoLuongTon], [HinhAnhChinh], [MoTa], [TiLe], [KichThuoc], [ChatLieu], [MaLoai], [MaNSX], [NgayNhap], [DaXoa], [MaDong], [IsHot], [LoaiHinhHienThi]) VALUES (1, N'Gundam MG Barbatos', CAST(1200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 4, N'barbatos.jpg', NULL, N'1/100', N'Cao 20cm', N'Plastic', 3, 2, CAST(N'2026-05-16T16:44:55.730' AS DateTime), 0, 1, 1, NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [GiaGiam], [SoLuongTon], [HinhAnhChinh], [MoTa], [TiLe], [KichThuoc], [ChatLieu], [MaLoai], [MaNSX], [NgayNhap], [DaXoa], [MaDong], [IsHot], [LoaiHinhHienThi]) VALUES (2, N'Mô hình One Piece Luffy Gear 5 - Thần Mặt Trời Nika Spec', CAST(1500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 19, N'luffy.jpg', N'Mô hình Luffy trạng thái Gear 5 cực đẹp, phiên bản Thần Mặt Trời Nika siêu ngầu.', N'1/10', NULL, N'PVC', 1, 2, CAST(N'2026-05-18T23:04:44.567' AS DateTime), 0, 3, 1, N'BanThang')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [GiaGiam], [SoLuongTon], [HinhAnhChinh], [MoTa], [TiLe], [KichThuoc], [ChatLieu], [MaLoai], [MaNSX], [NgayNhap], [DaXoa], [MaDong], [IsHot], [LoaiHinhHienThi]) VALUES (3, N'Mô hình Siêu Robot Khổng Lồ DX GaoKing Nhật Bản Bản Kỷ Niệm', CAST(1850000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, N'gaoking.jpg', NULL, N'N/A', N'Cao 16cm', N'Die-cast/ABS', 2, 2, CAST(N'2026-05-18T23:04:44.567' AS DateTime), 0, 4, 0, N'BanThang')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao], [TrangThai], [Avatar]) VALUES (N'admin', N'123', N'Quản Trị Viên', NULL, NULL, NULL, N'Admin', CAST(N'2026-05-16T16:44:53.053' AS DateTime), 1, NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao], [TrangThai], [Avatar]) VALUES (N'demo12', N'123', N'Nguyễn Văn Khách Hàng', N'demo12@gmail.com', N'0901234567', N'123 Đường Tô Hiến Thành, Quận 10, TP.HCM', N'Customer', CAST(N'2026-05-16T18:49:40.557' AS DateTime), 1, NULL)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HoTen], [Email], [SoDienThoai], [DiaChi], [VaiTro], [NgayTao], [TrangThai], [Avatar]) VALUES (N'namduy123', N'123456', N'Vo Nam', N'vohoangduynamdmcn2020@gmail.com', N'0981260096', N'[]', N'Customer', CAST(N'2026-05-19T15:12:57.270' AS DateTime), 1, N'avatars/0de3c888-078c-494b-af71-e07a025a353d_cauzang.jpg')
GO
ALTER TABLE [dbo].[BinhLuanDanhGia] ADD  DEFAULT (getdate()) FOR [NgayBinhLuan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[LichSuDauGia] ADD  DEFAULT (getdate()) FOR [ThoiGianDau]
GO
ALTER TABLE [dbo].[PhienDauGia] ADD  DEFAULT (N'SapDienRa') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [GiaGiam]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [IsHot]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (N'BanThang') FOR [LoaiHinhHienThi]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('Customer') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BinhLuanDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_BL_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BinhLuanDanhGia] CHECK CONSTRAINT [FK_BL_SP]
GO
ALTER TABLE [dbo].[BinhLuanDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_BL_TK] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[BinhLuanDanhGia] CHECK CONSTRAINT [FK_BL_TK]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_SP]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TK] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TK]
GO
ALTER TABLE [dbo].[HinhAnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_Anh_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HinhAnhSanPham] CHECK CONSTRAINT [FK_Anh_SP]
GO
ALTER TABLE [dbo].[LichSuDauGia]  WITH CHECK ADD  CONSTRAINT [FK_LSDG_Phien] FOREIGN KEY([MaPhien])
REFERENCES [dbo].[PhienDauGia] ([MaPhien])
GO
ALTER TABLE [dbo].[LichSuDauGia] CHECK CONSTRAINT [FK_LSDG_Phien]
GO
ALTER TABLE [dbo].[LichSuDauGia]  WITH CHECK ADD  CONSTRAINT [FK_LSDG_TaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[LichSuDauGia] CHECK CONSTRAINT [FK_LSDG_TaiKhoan]
GO
ALTER TABLE [dbo].[PhienDauGia]  WITH CHECK ADD  CONSTRAINT [FK_PDG_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhienDauGia] CHECK CONSTRAINT [FK_PDG_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_DongSanPham] FOREIGN KEY([MaDong])
REFERENCES [dbo].[DongSanPham] ([MaDong])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_DongSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_Loai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SP_NSX] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SP_NSX]
GO
ALTER TABLE [dbo].[BinhLuanDanhGia]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
USE [master]
GO
